# FastAPI and web server
fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.12

# Machine Learning
tensorflow==2.18.0
numpy==1.26.4
ultralytics==8.3.0

# Image processing
Pillow==11.0.0

# Utilities
pydantic==2.10.3
pydantic-settings==2.6.1
py_eureka_client==0.13.3
python-dotenv==1.0.1

# Database
pymongo==4.10.1

# HTTP Client
requests==2.31.0
